<!--MODAL TAREA -->
<div  id="modalAddContacto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form >
        <div class="modal-header">
          <button type="button" class="close" data-dissmiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title">Agregar Contacto</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="inputNombre">Nombre</label>
            <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre del Contacto" />
          </div>
          <div class="form-group">
            <label for="inputApellido">Apellido</label>
            <input class="form-control" type="text" formControlName="apellido" placeholder="Apellido del Contacto" />
          </div>
          <div class="form-group">
            <label for="inputTelefono">Telefono</label>
            <input class="form-control" type="text" formControlName="telefono" placeholder="Telefono del Contacto" />
          </div>
          <div class="form-group">
            <label for="inputCorreo">Correo</label>
            <input class="form-control" type="text" formControlName="correo" placeholder="Correo del Contacto" />
          </div>
          <div class="form-group">
            <label for="inputCategorias">Categorias</label>
            <select class="form-control">
                <!--<option *ngFor="let categoria of categoriaService.categorias" value="categoria.idCategoria">{{categoria.nombre}}</option>-->
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dissmiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-outline-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>