<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Lista de Contactos</h1>
    <button class="btn btn-outline-primary" [routerLink]="['/dashboard/contacto', 'nuevo']">Nuevo Contacto</button>
  </div>

  <hr>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of contactos">
        <td>{{contacto.idContacto}}</td>
        <td>{{contacto.nombre}}</td>
        <td>{{contacto.apellido}}</td>
        <td>{{contacto.telefono}}</td>
        <td>{{contacto.correo}}</td>
        <td>{{contacto.nombreCategoria}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-warning" [routerLink]="['/dashboard/contacto', contacto.idContacto]">Actualizar</button>
            <button class="btn btn-outline-danger" (click)="borrarContacto(contacto.idContacto)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
