<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Lista de Categorías</h1>
    <button class="btn btn-outline-primary" [routerLink]="['/dashboard/categoria', 'nueva']">Nueva Categoria</button>
  </div>

  <hr>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td>{{categoria.idCategoria}}</td>
        <td>{{categoria.nombre}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-warning" [routerLink]="['/dashboard/categoria', categoria.idCategoria]">Actualizar</button>
            <button class="btn btn-outline-danger" (click)="borrarCategoria(categoria.idCategoria)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
