<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Historial</h1>
  </div>

  <hr>
  <table class="table">
    <thead class="thead">
      <tr>
        <th>No.</th>
        <th>Descripcion</th>
        <th>Fecha de Registro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historial of historiales">
        <td>{{historial.idHistorial}}</td>
        <td>{{historial.descripcion}}</td>
        <td>{{historial.fechaRegistro}}</td>
      </tr>
    </tbody>
  </table>
</div>